@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bebas: var(--font-bebas-neue);
  --font-montez: var(--font-montez);
  --font-sansita: var(--font-sansita-swashed);
}

@layer utilities {
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@keyframes bepp {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Register it with Tailwind */
@theme {
  --animate-bepp: bepp 0.25s ease-in-out;
}
